{% extends 'account/base.html' %}
{% load widget_tweaks %}
{% block lr_title %}Login:{% endblock %}
{% block lr_form %}
  {% if form.errors %}
    <p class="alert alert-danger">Your username and password didn't match. Please try again.</p>
  {% endif %}
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
      <div class="mb-3">
        {{ field|add_label_class:"col-form-label" }}
        {{ field|add_class:"form-control" }}
        {% for error in field.errors %}<div class="text-danger fs-6">{{ error }}</div>{% endfor %}
      </div>
    {% endfor %}
    <input type="hidden" name="next" value="{{ next }}">
    <div class="submit-row">
      <input type="submit" class="btn btn-primary" value="Login">
    </div>
  </form>
  <p class="card-text">
    <small class="text-body-secondary">
      Lupa Password? <span><a href="{% url 'password_reset' %}">Reset Password</a> </span>
    </small>
  </p>
{% endblock %}
{% block lr_help %}
  Belum Punya Akun? <span><a href="{% url 'django_registration_register' %}">Gabung Sekarang</a> </span>
{% endblock %}
