{% extends "account/base.html" %}
{% load widget_tweaks %}
{% block lr_title %}Lupa Password?{% endblock %}
{% block lr_form %}
  <p>Masukkan Email Anda untuk mengirimkan instruksi pengaturan ulang password Anda.</p>
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
      <div class="mb-3">
        {{ field|add_label_class:"col-form-label" }}
        {{ field|add_class:"form-control" }}
        {% for error in field.errors %}<div class="text-danger fs-6">{{ error }}</div>{% endfor %}
      </div>
    {% endfor %}
    <div class="submit-row">
      <input type="submit" class="btn btn-primary" value="Reset Password">
    </div>
  </form>
{% endblock %}
