{% extends "account/base.html" %}
{% load widget_tweaks %}
{% block lr_form %}
  {% if validlink %}
    <p>Silahkan masukkan password baru Anda dua kali untuk memverifikasi password Anda</p>
    <form method="post">
      {% csrf_token %}
      {% for field in form %}
        <div class="mb-3">
          {{ field|add_label_class:"col-form-label" }}
          {{ field|add_class:"form-control" }}
          {% for error in field.errors %}<div class="text-danger fs-6">{{ error }}</div>{% endfor %}
        </div>
      {% endfor %}
      <input type="hidden"
             autocomplete="username"
             value="{{ form.user.get_username }}">
      <div class="submit-row">
        <input type="submit" class="btn btn-primary" value="Ubah Password">
      </div>
    </form>
  {% else %}
    <p>Link reset password tidak valid, mungkin karena sudah digunakan.  Silahkan minta reset password baru.</p>
  {% endif %}
{% endblock %}
