<div id="global-messages"
     hx-swap-oob="true"
     class="toast-container p-3 bottom-0 end-0">
  {% if messages %}
    {% for message in messages %}
      <div class="toast align-items-center border-0 show"
           role="alert"
           aria-live="assertive"
           aria-atomic="true">
        <div class="toast-body p-1">
          <div class="alert alert-{{ message.tags }} mb-0 d-flex justify-content-between">
            {{ message }}
            <button type="button"
                    class="btn-close"
                    data-bs-dismiss="toast"
                    aria-label="Close"></button>
          </div>
        </div>
      </div>
    {% endfor %}
  {% endif %}
</div>
