{% load sidebar_menu %}
{% create_menu user as nav_menu %}
<div class="d-flex flex-column h-100 sidebar-panel" style="width: 290px;">
  <div class="overflow-auto p-3 px-2">
    {% if user.is_authenticated %}
      {% if user.is_staff %}
        {% create_hr_menu as hr_menu %}
        <ul class="nav nav-pills flex-column mb-auto">
          {% for menu in hr_menu %}
            <li class="nav-item">
              {% url menu.url as href %}
              <a class="nav-link text-white{% if request.path == href %} active{% endif %}"
                 href="{{ href }}">{{ menu.label }}</a>
            </li>
          {% endfor %}
        </ul>
        <hr />
      {% endif %}
      {% if user.is_owner %}
        <ul class="nav nav-pills flex-column mb-auto">
          {% create_owner_menu as owner_menu %}
          {% for menu in owner_menu %}
            <li class="nav-item">
              {% url menu.url as href %}
              <a class="nav-link text-white{% if request.path == href %} active{% endif %}"
                 href="{{ href }}">{{ menu.label }}</a>
            </li>
          {% endfor %}
        </ul>
        <hr />
      {% endif %}
      {% if user.is_owner or user.is_employee %}
        <ul class="nav nav-pills flex-column mb-auto">
          {% for menu in nav_menu %}
            <li class="nav-item">
              <a class="nav-link text-white px-2"
                 data-bs-toggle="collapse"
                 data-bs-target="#{{ menu.id }}"
                 href="#{{ menu.id }}">{{ menu.label }}</a>
              {% if menu.sub %}
              <div class="collapse show" id="{{ menu.id }}">
                <ul class="nav nav-pills flex-column ps-4 small">
                  {% for sub in menu.sub %}
                    <li>
                      {% url sub.url as href %}
                      <a class="nav-link text-white px-2{{ request.path|is_active:href }}"
                         href="{{ href }}">{{ sub.label }}</a>
                    </li>
                  {% endfor %}
                </ul>
              </div>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endif %}
  </div>
</div>
