{% extends 'account/base.html' %}
{% load i18n widget_tweaks %}
{% block lr_title %}{% trans "Register" %}{% endblock %}
{% block lr_form %}
  <form method="post" id="registration-form">
    {% csrf_token %}
    {% for field in form %}
      {% if field.field.widget.input_type == 'checkbox' %}
        <div class="mb-3 form-check">
          {{ field|add_class:"form-check-input" }}
          <label for="{{ field.id_for_label }}" class="fs-6">
            <small>
              {% trans "I read and accept the" %}
              <a href="{% url 'privacy-policy' %}" target="_blank">{% trans "Privacy Policy" %}</a> {% trans "and" %}
              <a href="{% url 'terms-of-service' %}" target="_blank">{% trans "Terms of Service" %}</a>.
            </small>
          </label>
          {% for error in field.errors %}<div class="text-danger fs-6">{{ error }}</div>{% endfor %}
        </div>
      {% else %}
        <div class="mb-3">
          {{ field|add_label_class:"col-form-label" }}
          {{ field|add_class:"form-control" }}
          {% for error in field.errors %}<div class="text-danger fs-6">{{ error }}</div>{% endfor %}
        </div>
      {% endif %}
    {% endfor %}
    <button type="submit" id="register-button" class="btn btn-primary">
      <span class="spinner-border spinner-border-sm d-none"
            id="spinner"
            role="status"
            aria-hidden="true"></span>
      <span>{% trans "Register" %}</span>
    </button>
  </form>
{% endblock %}
{% block lr_help %}
  {% trans "Already have an account?" %} <span><a href="{% url 'login' %}">{% trans "Login" %}</a></span>
{% endblock %}
{% block extrascript %}
  <script>
  document.addEventListener('DOMContentLoaded', function() {
    const form = document.getElementById('registration-form');
    const submitBtn = document.getElementById('register-button');

    form.addEventListener('submit', function() {
      submitBtn.disabled = true;
      submitBtn.innerHTML = `
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        <span>{% trans "Processing..." %}</span>
      `;
    });
  });
  </script>
{% endblock %}
