{% extends 'dashboard/base.html' %}
{% load widget_tweaks %}
{% block header %}
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'index' %}">SDM Portabel</a>
      <button class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarNav"
              aria-controls="navbarNav"
              aria-expanded="false"
              aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </nav>
{% endblock %}
{% block sidebar %}{% endblock %}
{% block content %}
  <div class="container mt-3">
    <h3 class="mb-4">Big 5 Test</h3>
    <h4>{{ company.name }}</h4>
    <h4>{{ applicant.name }}</h4>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
{% endblock %}
